@model OBS.Models.Book

@{
    ViewData["Title"] = "Details";
}

<style>
    .aboutheading {
        height: 0;
        padding-bottom: 0;
    }

    h1 {
        font-size: 40px;
        padding-bottom: 0;
    }

    .dimg {
        padding-top: 95px;
    }

    .about {
        padding: 50px 0px;
    }

    .clbl {
        font-size: 25px;
        font-weight: 600;
        font-family: cursive;
    }

    .val {
        font-size: 20px;
        /*font-weight: 600;*/
        font-family: cursive;
    }

    .crinpt {
        border-radius: 15px;
        border: 1px solid #949494;
        padding: 3px 35px;
        margin-left: 65px;
        width: 45%;
    }
</style>

<h1>Book Details </h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 clbl">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10 val">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2 clbl">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10 val">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2 clbl">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10 val">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2 clbl">
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>
        <dd class = "col-sm-10 val">
            @Html.DisplayFor(model => model.PubDate)
        </dd>
        <dt class = "col-sm-2 clbl">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10 val">
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="myBooks">Back to List</a>
</div>
